html{
    box-sizing: border-box;

}

body {
    font-size: 62.5%;
}

* {
    margin:0;
    padding:0;
}

.header{
    width: 100vw;
}

.header__wrapper{
    width: 40rem;
}

.header__logo{
    width:100%;
}

.logo{
    position: relative;
    width:100%;
    padding: 1.9rem 6rem 3rem;

}

.logo__body{

    width: 100%;
    z-index: 2;
}

.logo__circle{
    height: 32rem;
    width: 32rem;
    border-radius: 100%;
    z-index: -1;
}

.logo__circle--red{
    position: absolute;
    background-color: hsla(327, 92%, 48%,.7);
    top:0;
    left: 9.5rem;
    z-index: -2;
}

.logo__circle--blue{
    position: absolute;
    background-color: hsla(198, 100%, 51%,.6);
    bottom:0rem;
    right: 0rem;
    z-index: -1;
}

.logo__circle--yellow{
    position: absolute;
    background-color: hsla(56, 100%, 55%,.9);
    bottom:0;
    left:0;
    z-index: -3;
}